:root{
	--bg: #23233e;
	--color: #ffffff;
	--shadow1: #000000;
	--shadow2: #ffffff;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	background-color: transparent;
	user-select: none;
}
@font-face{
	font-family: "baybayin";
	src: url("font.ttf");
}

body{
	background-color: var(--bg);
	color: var(--color);
	min-height: 75vh;
	width: 100%;
	border-radius: 1em;
	padding: 1em;
}

.container{
	display: flex;
	flex-direction: column;
	min-width: 90%;
	margin: 1em;
	padding: .5em;
	border-radius: .5em;
	box-shadow: 3px 3px 5px var(--shadow1),
	-3px -3px 5px var(--shadow2),
	3px 3px 5px inset var(--shadow1),
	-3px -3px 2px inset var(--shadow2);
}

.container > textarea, #note{
	min-width: 100%;
	resize: none;
	color: var(--color);
	font-size: xx-large;
	font-family: 'Times New Roman', Times, serif;
	font-variant: small-caps;
}

#note, #time {
	font-size: x-large;
}

#time{
	background-color: var(--bg);
	color: var(--color);
	max-width: 1;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	margin: 0 1em;
	padding: .25em .5em;
	border-radius: .5em;
	box-shadow: 3px 3px 5px var(--shadow1),
	-3px -3px 5px var(--shadow2),
	3px 3px 5px inset var(--shadow1),
	-3px -3px 2px inset var(--shadow2);
}

.container > h1 {
	overflow-x: auto;
	cursor: pointer;
	text-align: center;
	font-weight: normal;
	max-lines: 5;
	font-family: "baybayin";
}

@media (max-width: 400px) {
	.container > textarea{
		min-width: 100%;
	}
}