*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	background-color: transparent;
	user-select: none;
}

body{
	background-color: #23233e;
	color: #ffffff;
	min-height: 75vh;
	width: 100%;
	border-radius: 1em;
	padding: 1em;
}

.container{
	display: flex;
	flex-direction: column;
	min-width: 90%;
	margin: 1em;
	padding: .5em;
	border-radius: .5em;
	box-shadow: 3px 3px 5px #000000,
	-3px -3px 5px #ffffffaa,
	3px 3px 5px inset #00000050,
	-3px -3px 2px inset #ffffff50;
}

.container > textarea{
	min-width: 100%;
	resize: none;
	color: #ffffff;
}

.container > h1 {
	overflow-x: auto;
	cursor: pointer;
	text-align: center;
	font-weight: normal;
	max-lines: 5;
}

@media (max-width: 400px) {
	.container > textarea{
		min-width: 100%;
	}
}